body {
font-family: 'Roboto', sans-serif;
}

.link {
text-decoration: none;
color:#434455;
}

.list {
list-style: none;
}

/*-------------HEADER--------------- */

.header {}

.header-navigation {}

.accent {
  color:#4D5AE5;
}
.header-logo {}

.header-list {}

.header-item {}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.header-link:is(:hover,:focus) {
  color:#404BBF;
}

.header-mail {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-tel {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link:is(:hover,:focus){
  color:#404BBF;
}

/*----------MAIN--------*/

.filter {}

.filter-list {}

.list {}

.filter-link {}