:root {
  
}

body {
font-family: 'Roboto', sans-serif;
color:#2E2F42;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

address {
  font:inherit;
}

.link {
text-decoration: none;
color: #434455;
font: inherit;
}

.list {
list-style: none;
}

/*-------------HEADER--------------- */

.header {}

.header-navigation {}

.accent {
  color:#4D5AE5;
}

.accent-logo {
  color: #F4F4FD;
}

.logo {
  font-family: 'Raleway',sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
}

.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.header-item {}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.header-link:is(:hover,:focus) {
  color:#404BBF;
}

.header-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.header-address-link:is(:hover,:focus){
  color:#404BBF;
}

/*----------MAIN--------*/

.hero {
  background: #2E2F42;
}
.text-main {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #FFF;
}

.main-text {

}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.text-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.text-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.names {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0,02em;
  text-align: center;
  text-transform: capitalize;
}

.names-backgr {
  background: #FFFFFF;

}

.teams {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}
.paragraph-text {
 text-align: center;
 color: #434455;
}


.filter-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5px;
  color:#4D5AE5
}
.filter-button {
  font-family: inherit;
cursor: pointer;
background-color: #F4F4FD;
padding: 12px 24px;
border-radius: 4px;
color: #4D5AE5;
font-weight: 500;
font-size: 16px;
line-height: 1.5;

}
.filter-current, filter-button:is(:hover,:focus) {
  background-color: #404BBF;
  color: #FFF;
}

.button, button:is(:hover, :focus) {
  font-family: inherit;
  cursor: pointer;
  background-color:#4D5AE5;
  color:#FFFFFF;
  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.button-curent, button:is(:hover, :focus) {
  background-color: #404BBF;
  color: #FFF;}

.concept-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2E2F42;
}
.projects-text {
font-size: 16px;
line-height: 1.5;
color: #434455;
}
.section-inverse {
  background-color: #F4F4FD;
}

/*-------FOOTER--------*/
.footer-text {
color: #E7E9FC;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}

.footer {
background-color: #2E2F42;
}
